* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  
  /* Navigation bar */
  ul {
    list-style: none;
  
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-family:  'Montserrat', sans-serif;
  }
  
  
  body, html {
    overflow-x: hidden;
    font-family:  'Montserrat', sans-serif;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:  'Montserrat', sans-serif;
  }
  .navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color:#fff;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation li {
    margin: 0 30px;
  }
  
  
  header {
    width: 100vw;
    height: 60vh;
    background-color: hsl(224, 41%, 58%);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
  }
  
  .header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
  }
  
  .header-content h2 {
    font-size: 4vmin;
  
  }
  
  .header content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  
  .menu {
    position: absolute;
    top: 30px;
    right: 30px;
     width: 40px;
    cursor: pointer;
    display: none;
  
  
  }
  
  
    /* intro */
  
    .intro-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
      }
  
      .intro-plan {
        flex: 1;
        max-width: 250px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.5s;
        
      }
  
    
  
    .intro-plan:hover {
      transform: translateY(-10px);
    }
  
      .intro-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
      }
  
      .intro-price {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        color: white;
      }
  
      .card1 {
        background-image: url('./Images/enigma.jpeg'); 
      }
  
      .card2 {
        background-image: url('./Images/event1.jpg');
      }
  
      .card3 {
        background-image: url('./Images/event4.jpeg');
      }
  
     
     header {
    display: flex;
    justify-content: space-between;
    align-items: flex-center;
    background-color: hsl(224, 41%, 58%);
    color: rgb(36, 27, 27);
    padding: 1rem 0.5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.25em 0.5em;
    transition: background-color 400ms;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(21, 3, 3, 0.897);
}
*
{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
 /* display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh; */
 background:azure ;
}
.container
{
    position: relative ;
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    max-width: 600px;
    background:whitesmoke;
    margin: 10px;
    padding: 15px;
    display: flex;
}
.container .card .imgBx
{
   max-width: width 150px;
   flex: 0 0 150px;

}
.container .card .imgBx img
{
    max-width: 100%;
}
.container .card .content
{
    margin-left: 20px;
}
@media (max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}
.container
{
    position: relative ;
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    max-width: 600px;
    background:whitesmoke;
    margin: 10px;
    padding: 15px;
    display: flex;
}
.container .card .imgBx
{
   max-width: width 150px;
   flex: 0 0 150px;
  
}
.container .card .imgBx img
{
    max-width: 100%;
}
.container .card .content
{
    margin-left: 20px;
}
@media (max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}

.container
{
    position: relative ;
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    max-width: 600px;
    background:whitesmoke;
    margin: 10px;
    padding: 15px;
    display: flex;
}
.container .card .imgBx
{
   max-width: width 150px;
   flex: 0 0 150px;
}
.container .card .imgBx img
{
    max-width: 100%;
}
.container .card .content
{
    margin-left: 20px;
}
@media (max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}

.container
{
    position: relative ;
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}
.container .card
{
    position: relative;
    max-width: 600px;
    background:whitesmoke;
    margin: 10px;
    padding: 15px;
    display: flex;
    
}
.container .card .imgBx
{
   max-width: width 150px;
   flex: 0 0 150px;
}
.container .card .imgBx img
{
    max-width: 100%;
}
.container .card .content
{
    margin-right: 20px;
}
@media (max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}